body, html {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background: url(header.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    font-size: 3rem;
    color: white;
    text-transform: uppercase;
}

hr {
     margin: 20px auto;
     color: #f05f44;
     border: 3px solid #f05f44;
     max-width: 65px;
     opacity: 1;
}

.buffer {
    height: 8rem;
}

.btn {
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 300px;
}

.btn-primary {
    background-color: #f05f44;
    border-color: #f05f44;
    opacity: 1;
}

.btn-primary:hover {
    background-color: #ee4b08;
    border-color: #ee4b08;
    transform: scale(1.05);
}

.btn-xl{
    padding: 1rem 2rem;
}